In [6]:
import pandas as pd

Exercise 2

Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

 cat = positive class
 dog = negative class


In the context of this problem, what is a false positive? We predicted cat, but it is actually a dog
In the context of this problem, what is a false negative? We predicted dog, but it is actually a cat
How would you describe this model?

In [2]:
TP = 34
FP = 7
TN = 46
FN = 13

In [3]:
# Accuracy

(TP + TN) / (TP + TN + FP + FN)

0.8

In [4]:
# Precision

TP / (TP + FP)

0.8292682926829268

In [5]:
# Recall
 
TP / (TP + FN)

0.723404255319149

In [7]:
# Exercise 3

df = pd.read_csv('c3.csv')
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

Positive: Defect
Negative: No Defect

TP = Defect in defective item
TN = No defect in non-defective item
FP = Defect in non-defective item
FN = Non-defective item for defective item

Recall will be used because FN is more costly

In [ ]:
df['baseline_prediction'] = 'Defect'

In [8]:
subset = df[df.actual == 'Defect']
subset

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [10]:
#model 1

m1 = (subset.actual == subset.model1).mean()
m1

0.5

In [12]:
#model 2

m2 = (subset.actual == subset.model2).mean()
m2

0.5625

In [14]:
#model 3

m3 = (subset.actual == subset.model3).mean()
m3

0.8125

Model 3 would be the best fit for recall percentage, avoiding FN

In [16]:
# Exercise 3 Part 2
# FP is the most critical here, as the company doesn't want customers getting vacations if the duck ISN'T defective
# Therefor, we want to look for precision
# Set subset to all "positives" to look for FP

subsetm1 = df[df.model1 == 'Defect']

modelp1 = (subsetm1.actual == subsetm1.model1).mean()

modelp1

0.8

In [22]:
subsetm2 = df[df.model2 == 'Defect']

modelp2 = (subsetm2.actual == subsetm2.model2).mean()

modelp2

0.1

In [23]:
subsetm3 = df[df.model3 == 'Defect']

modelp3 = (subsetm3.actual == subsetm3.model3).mean()

modelp3

0.13131313131313133

We would use model 1 because it most predicts FP most closely

In [29]:
# Exercise 4

df = pd.read_csv('gives_you_paws.csv')
df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

Positive = dog
Negative = cat

TP = dog for dog
TN = cat for cat
FP = dog for cat
FN = cat for dog

In [37]:
df['baseline_prediction'] = 'dog'
df

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[5000 rows x 6 columns]

In [38]:
model_accuracy = (df.actual == df.model1).mean()
baseline_accuracy = (df.actual == df.baseline_prediction).mean()

print(model_accuracy)
print(baseline_accuracy)

0.8074
0.6508

In [39]:
model_accuracy = (df.actual == df.model2).mean()
baseline_accuracy = (df.actual == df.baseline_prediction).mean()

print(model_accuracy)
print(baseline_accuracy)

0.6304
0.6508

In [40]:
model_accuracy = (df.actual == df.model3).mean()
baseline_accuracy = (df.actual == df.baseline_prediction).mean()

print(model_accuracy)
print(baseline_accuracy)

0.5096
0.6508

In [41]:
model_accuracy = (df.actual == df.model4).mean()
baseline_accuracy = (df.actual == df.baseline_prediction).mean()

print(model_accuracy)
print(baseline_accuracy)

0.7426
0.6508

Models 1 & 4 are better than the baseline

In [43]:
subset = df[df.actual == 'dog']
subset

     actual model1 model2 model3 model4 baseline_prediction
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
5       dog    dog    dog    dog    dog                 dog
8       dog    dog    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4993    dog    dog    cat    dog    dog                 dog
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[3254 rows x 6 columns]

In [51]:
recall1 = (subset.actual == subset.model1).mean()
recall2 = (subset.actual == subset.model2).mean()
recall3 = (subset.actual == subset.model3).mean()
recall4 = (subset.actual == subset.model4).mean()

print(recall1)
print(recall2)
print(recall3)
print(recall4)

0.803318992009834
0.49078057775046097
0.5086047940995697
0.9557467732022127

Model 4 has the highest recall value and should be used for phase I

In [53]:
precision1 = df[df.model1 == 'dog']
precision2 = df[df.model2 == 'dog']
precision3 = df[df.model3 == 'dog']
precision4 = df[df.model4 == 'dog']

In [54]:
pp1 = (precision1.actual == precision1.model1).mean()
pp2 = (precision2.actual == precision2.model2).mean()
pp3 = (precision3.actual == precision3.model3).mean()
pp4 = (precision4.actual == precision4.model4).mean()

print(pp1)
print(pp2)
print(pp3)
print(pp4)

0.8900238338440586
0.8931767337807607
0.6598883572567783
0.7312485304490948

Model 2 has the highest precision value and should be used by phase II

C.) Cat = positive

In [57]:
subset = df[df.actual == 'cat']
subset

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 cat
4       cat    cat    cat    dog    dog                 cat
6       cat    cat    cat    cat    dog                 cat
7       cat    dog    cat    cat    dog                 cat
11      cat    cat    dog    cat    cat                 cat
...     ...    ...    ...    ...    ...                 ...
4987    cat    dog    cat    dog    dog                 cat
4989    cat    cat    cat    dog    cat                 cat
4991    cat    cat    cat    cat    dog                 cat
4994    cat    cat    cat    dog    dog                 cat
4998    cat    cat    cat    cat    dog                 cat

[1746 rows x 6 columns]

In [58]:
recall1 = (subset.actual == subset.model1).mean()
recall2 = (subset.actual == subset.model2).mean()
recall3 = (subset.actual == subset.model3).mean()
recall4 = (subset.actual == subset.model4).mean()

print(recall1)
print(recall2)
print(recall3)
print(recall4)

0.8150057273768614
0.8906071019473081
0.5114547537227949
0.34536082474226804

In [59]:
precision1 = df[df.model1 == 'cat']
precision2 = df[df.model2 == 'cat']
precision3 = df[df.model3 == 'cat']
precision4 = df[df.model4 == 'cat']

In [60]:
pp1 = (precision1.actual == precision1.model1).mean()
pp2 = (precision2.actual == precision2.model2).mean()
pp3 = (precision3.actual == precision3.model3).mean()
pp4 = (precision4.actual == precision4.model4).mean()

print(pp1)
print(pp2)
print(pp3)
print(pp4)

0.6897721764420747
0.4841220423412204
0.358346709470305
0.8072289156626506

Phase I = model 2

Phase II = model 4

Exercise 5.)

In [61]:
from sklearn.metrics import classification_report

In [77]:
#classreport = classification_report(df.actual, df.model1,
#                                   labels = ['cat', 'dog'])
#print(classreport)

x = classification_report(df.actual, df.model1,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [74]:
#classreport = classification_report(df.actual, df.model2,
#                                   labels = ['cat', 'dog'])
#print(classreport)

              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [78]:
#classreport = classification_report(df.actual, df.model3,
#                                    labels = ['cat', 'dog'])
#print(classreport)

print("Model 1")
pd.DataFrame(classification_report(df.actual, df.model1,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 1

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [79]:
print("Model 2")
pd.DataFrame(classification_report(df.actual, df.model2,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 2

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [80]:
print("Model 3")
pd.DataFrame(classification_report(df.actual, df.model3,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 3

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [81]:
print("Model 4")
pd.DataFrame(classification_report(df.actual, df.model4,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 4

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000